@import 'bootstrap-normalize.css';
$backgroundBody: rgb(233, 230, 221);
$backgroundField: rgb(223, 217, 201);
@import 'header.scss';

// game
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px 0;
    background-color: $backgroundBody;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #fff;
    letter-spacing: 3px;
    & .left_cross {
        width: 70px;
        height: 4px;
        animation: left_cross_animation 1s infinite;
        transform-origin: 40% 10%;
        padding-bottom: 10px;
    }
}

@keyframes left_cross_animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#alert {
    position: absolute;
    top: -40px;
    background-color: rgb(204, 223, 201);
    padding: 5px 10px;
    transition: 400ms top;
    text-align: center;
    max-width: 250px;
    z-index: 999;
}

.tictac_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 302px;
    & .tictac_title {
        margin-bottom: 20px;
        text-align: center;
    }
    & .game_info{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
    }
    & .now_turn {
        & span {
            font-size: 20px;
            font-weight: bold;
            color: blue;
        }
    }
    #now_turn_tip {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: normal;
    }
    & .tictac_field {
        display: flex;
        flex-wrap: wrap;
        width: 302px;
        height: 302px;
        background-color: $backgroundField;
        border: 1px solid black;
    }
    & .tictac_cell {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        width: 100px;
        height: 100px;
        cursor: pointer;
    }
    & .result_popup {
        position: absolute;
        text-align: center;
        left: -100%;
        width: 270px;
        top: 60%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: 500ms;
        backdrop-filter: blur(6px);
        padding: 25px 35px;
    }
    & .win_message {
        margin-top: -5px;
    }
    & .score {
        font-size: 20px;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        & span {
            font-size: 24px;
            margin: 0 8px;
            font-weight: 600;
        }
        & span:nth-child(1) {
            color: blue;
        }
        & span:nth-child(2) {
            color: red;
        }
    }
    & #newGame {
        width: 150px;
        height: 34px;
        background-color: rgba(255, 255, 255, 0.6);
        margin-top: 18px;
        transition: 300ms;
        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
    & .blocked {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -10;
    }
}

.circle::before {
    content: "";
    width: 50px !important;
    height: 50px;
    border: 4px solid red;
    border-radius: 50%;
}

.cross::before, .cross::after {
    content: "";
    position: absolute;
    width: 56px;
    height: 4px;
    background-color: blue;
}

.cross::before {
    transform: rotate(-45deg);
}

.cross::after {
    transform: rotate(45deg);
}